<!-- <div>
  
<div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    
<div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
 
 
</div> -->
<br>
      <!-- <div *ngFor=" let i of arr"> --><div class="row">
        <!-- <div class="column" *ngFor=" let i of arr">
            
          <div class="card">
            <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>{{i.Lab_name}}</h2>
              <p class="title">Owned By:{{i.Owner}}</p> -->
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <!-- <p>{{i.Address}} </p>
              <p>{{i.Rating}}/5</p>
              <button (click)="report(i)"> Report user</button>
              <div [style.display]="i.style1">
                <select  class="form-control" id="sel1" name="state" [(ngModel)]="cmp">
              <option>Its inappropriate</option>
              <option>Its a spam</option>
                </select>
              </div> -->
              <!-- <div *ngIf="flag==0"> -->
                  <!-- <div id="my"  [style.display]="i.style"> 
                      <div class="form-group">
                         <label >Select Appointment date</label>
                         <input type="date" class="form-control" id="app"  name="app " [(ngModel)]="app1">
                       <label>Upload Prescription</label>
                       <input type="file" accept="image/png image/jpeg image/jpg" class="form-control" id="app1"  name="app1" (change)="preview($event)">
                       <button (click)="save(i)">Upload pic</button>
                       <button (click)="show()">Show</button>
                       <img [src]="upload">
                       </div>
                     </div> -->
              <!-- </div> -->
              <!-- <p><button class="button" (click)="menu(i)">BOOK APPOINTMENT</button></p>
            </div>
          </div>
        </div> -->
      <!-- </div> -->
    <!-- <div class="row" style="margin-left: 100px;"> -->
        <!-- <div class="column">
          <div class="card">
            <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>DEF Diagnostic lab</h2>
              <p class="title">CEO & Founder</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>example@example.com</p>
              <div>
                  <div id="my"  [style.display]="style1"> 
                      <div class="form-group">
                         <label >Select Appointment date</label>
                         <input type="date" class="form-control" id="app"  name="app " [(ngModel)]="app" required>
                       <label>Upload Prescription</label>
                       <input type="image" class="form-control" id="img"  name="img" [(ngModel)]="img" required><button>Upload pic</button>
                       </div>
                     </div>
              </div>
              <p><button class="button" (click)="menu()">BOOK APPOINTMENT</button></p>
            </div>
          </div>
        </div>
        <div class="column">
            <div class="card">
              <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
              <div class="container">
                <h2>UVW Diagnostic lab</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <div id="my"  [style.display]="style1"> 
                    <div class="form-group">
                       <label >Select Appointment date</label>
                       <input type="date" class="form-control" id="app"  name="app " [(ngModel)]="app" required>
                     <label>Upload Prescription</label>
                     <input type="image" class="form-control" id="img"  name="img" [(ngModel)]="img" required><button>Upload pic</button>
                     </div>
                   </div>
                <p><button class="button" (click)="menu()">BOOK APPOINTMENT</button></p>
              </div>
            </div>
          </div>
        </div> -->
        
    </div>
    <!-- <div>
        <div class="row" >
            <div class="column">
              <div class="card">
                <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
                <div class="container">
                  <h2>Jane Doe</h2>
                  <p class="title">CEO & Founder</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                  <div id="my"  [style.display]="style1"> 
                      <div class="form-group">
                         <label >Select Appointment date</label>
                         <input type="date" class="form-control" id="app"  name="app " [(ngModel)]="app" required>
                       <label>Upload Prescription</label>
                       <input type="image" class="form-control" id="img"  name="img" [(ngModel)]="img" required><button>Upload pic</button>
                       </div>
                     </div>
                  <p><button class="button" (click)="menu()">BOOK APPOINTMENT</button></p>
                </div>
              </div>
            </div>
         <div class="row" style="margin-left: 100px;"> -->
            <!-- <div class="column">
              <div class="card">
                <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
                <div class="container">
                  <h2>Jane Doe</h2>
                  <p class="title">CEO & Founder</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                  <div id="my"  [style.display]="style1"> 
                      <div class="form-group">
                         <label >Select Appointment date</label>
                         <input type="date" class="form-control" id="app"  name="app " [(ngModel)]="app" required>
                       <label>Upload Prescription</label>
                       <input type="image" class="form-control" id="img"  name="img" [(ngModel)]="img" required><button>Upload pic</button>
                       </div>
                     </div>
                  <p><button class="button" (click)="menu()">BOOK APPOINTMENT</button></p>
                </div>
              </div>
            </div>
            </div>
    </div> -->
    <section id="team" class="pb-5">
      <div class="container">
          <h5 class="section-title h1">Laboratories in Jaipur </h5>
          <div class="row">
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4" *ngFor=" let i of arr" >
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      <p><img class=" img-fluid" [src]="i.upload" alt="card image"></p>
                                      <h4 class="card-title">{{i.Lab_name}}</h4>
                                      <p class="card-text">Owned by :{{i.Owner}} <br>
                                      Address: {{i.Address}} </p>
                                      <p>Rating:{{i.Rating}}/5</p>
                                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                            
                              <div class="card">
                                  <div class="form-group">
                                    <br><br>
                                    <button (click)="report(i)"> Report user</button>
          <div [style.display]="i.style1">
            <select  class="form-control" id="sel1" name="state" [(ngModel)]="cmp">
          <option>Its inappropriate</option>
          <option>Its a spam</option>
            </select>
          </div>
                                     <label class="t" >Select Appointment date</label>
                                     <input type="date"  id="app"  name="app " [(ngModel)]="app1">
                                   <label class="t">Upload Prescription</label>
                                   <input type="file" accept="image/png image/jpeg image/jpg" class="form-control" id="app1"  name="app1" (change)="preview($event)" [(ngModel)]="app2">
                       <button (click)="save(i)">Upload pic</button>
                       <!-- <button (click)="show()">Show</button> -->
                                   <!-- <input type="image" class="form-control" id="app1"  name="app1" [(ngModel)]="app1"><button>Upload pic</button> -->
                                   </div>
                                 </div>
                         <p><button class="btn btn-success " (click)="menu(i)">BOOK APPOINTMENT</button></p>
                        </div>
                                 
                          </div>
                      </div>
                
              </div>
            </div>
       </div>
       