/* img{
    margin: 200px;
}
a{
    margin: 250px;
} */
/* input{
    width:25%;
}
.c1{
    position: relative;
    left:40%;
}
h1{
    font-size: 35px;
    text-align:center;
} */

.body{
    background-image:url("https://cdn.pixabay.com/photo/2018/04/23/11/13/computer-3343887_960_720.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    overflow:auto;
}
.container{
	font-family: 'Lucida Sans', 'Lucida Sans Regular';
	background-image:url("https://cdn.pixabay.com/photo/2016/12/05/19/40/syringe-1884758_960_720.jpg") ;
    /* padding-top: 50px; */
    border-style: 2px solid rgb(0, 0, 0);
    margin:  auto;
    text-align: left;
    opacity: 0.8;
    box-shadow: 0px 5px 5px 2px #eee;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 10px;
    height: 730px;
    margin-top: 50px; */
} 

.heading { 
    padding-top: 40px;
   font-family: 'Open Sans' , sans-serif;
   font-size: 40px;
   font-weight: 600;
   color: #000000;
   margin-top: 5%;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 4px;
}

.btn.btn-success:hover {
    box-shadow: 2px 1px 2px 3px #99ccff;
    
    color:#fff;
    transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;
    
 }