<div class="body">
    <div class="container">
      <form class="form-horizontal" role="form">
  <!-- <h1 class="heading">Lab Updation Form</h1><hr> -->
        <div class="form-group " >
          <div class="col-sm-12">
            <label class="labname" class="col-sm-3 control-label" >LabName:</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" name="lname" id="lname" required [(ngModel)]="lname" autofocus>
          </div>
          </div>
          </div>
          <div class="form-group " >
            <label  for="owner" class="col-sm-3 control-label">Owner:</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" name="owner" id="owner" required [(ngModel)]="owner">
          </div>
          </div>
          
          <div class="form-group " >
            <label  for="address" class="col-sm-3 control-label">Address:</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" name="add" id="add" required [(ngModel)]="address">
          </div>
        
          </div>
  
          <div class="form-group " >
            <label  for="rating" class="col-sm-3 control-label">Rating:(Out of 5)</label>
            <div class="col-sm-9">
            <input type="number" class="form-control" name="rate" id="rate" required [(ngModel)]="rating">
          </div>
          </div>
  
          <div class="form-group " >
            <label  for="contact" class="col-sm-3 control-label">Contact</label>
            <div class="col-sm-9">
            <input type="tel" class="form-control" name="cont" id="cont" required [(ngModel)]="cont">
          </div>
          </div>
          <!-- <div class="form-group " >
            <label  for="img" class="col-sm-3 control-label">Upload Image</label>
            <div class="col-sm-9"> -->
            <!-- <input type="tel" class="form-control" name="cont" id="cont" required [(ngModel)]="cont"> -->
            <!-- <input type="file" accept="image/png image/jpeg image/jpg" class="form-control" id="app1"  name="app1" (change)="preview($event)">
            <button (click)="save()">Upload pic</button>
          </div>
          </div> -->
          <button class="btn btn-success" type="submit" (click)="reg()">Update</button>
        </form>
          </div>