.blockquote-box .square{
    width:100px;
    min-height:50px;
    margin-right:22px;
    text-align:center!important;
    background-color:#E6E6E6;
    padding:20px 0
}
.body{
    background-image: url(/assets/review.jpg);
}