<!-- <div *ngFor="let i of arr">
{{i.Feed}}
</div> -->
<div class="body">
    <div class="container">
                    <div class="row">
                    
                        <div class="col-md-6">
                            <div class="blockquote-box clearfix">
                                <div class="square pull-left" *ngFor="let i of arr" >
                                    <!-- <img src="http://placehold.it/60/8e44ad/FFF&text=B" alt="" class="" />
                                     -->
                                     {{i.Feed}}
                                </div>
                               
                            </div>
                        
                                       
                        </div>
                    </div>
                    </div>
                    </div>