.jumbotron{
    background-color: white;
 }
 /* .body{
    background-image:
     url(https://images.unsplash.com/photo-1537086709968-d852e43b6ab4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
     background-repeat: no-repeat;
     background-size: cover;
 } */
 .container{
    opacity:0.8;
 }