<!-- <div id="c1"> -->
    <!-- <button routerLink='../login' routerLinkActive="active"> submit</button> -->
<!-- <a routerLink='../login' routerLinkActive="active"> <img src="assets/adminimg.jpg"></a>
<a routerLink='./reg' routerLinkActive="active"> <img src="assets/userimg.jpg"></a> -->
<!-- <img src="assets/a1.png" style="background-color: black;">
<br>
<a routerLink='../login' routerLinkActive="active">login as user</a><br>
<a routerLink='../login2' routerLinkActive="active">login as diagnostic lab</a><br>
<a routerLink='../reg' routerLinkActive="active">register as user</a><br>
<a routerLink='../logreg' routerLinkActive="active">register as diagnostic lab</a>

</div> -->

              
     

<div class="nav navbar-fixed-top collapse navbar-collapse justify-content-end" >
    <i class="fa fa-globe " style="font-size:48px;color:green"></i>
     <a href="#default" class="logo" >Diagnostic</a>
     <button class="btn float-right "routerLink='../login2' routerLinkActive="active" >Lab Login</button>
                     <button class="btn float-right"routerLink='../login' routerLinkActive="active">User Login</button>
                     
            
                      <!-- <a routerLink='../nav' routerLinkActive="active">Navigation</a>   -->
                     <!-- <a routerLink='../login' routerLinkActive="active">User Login</a> -->
                     <!-- <a routerLink='../login2' routerLinkActive="active">Login as Lab</a> -->
                     <!-- <a routerLink='../reg' routerLinkActive="active">register as user</a><br> 
                     <a routerLink='../logreg' routerLinkActive="active">register as diagnostic lab</a> 
                     <a routerLink='../app' routerLinkActive="active">appointment</a> 
                     <a routerLink='../but' routerLinkActive="active">Blank</a>
                     <a routerLink='../book' routerLinkActive="active">Bookings</a>
                     <a routerLink='../client' routerLinkActive="active">Cient</a> 
                     <a routerLink='../feed' routerLinkActive="active">feedback</a>
                     <a routerLink='../review' routerLinkActive="active">reviews</a> -->
                     </div>
                   
<!-- page-header -->
<div class="page-header">
<div class="container">
   <div class="row">
       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
           <div class="page-caption">
               <h1 class="page-title">Trusted.innovative.Diagnostic</h1>
           </div>
       </div>
   </div>
</div>
</div>
<!-- news -->
<div class="card-section">
<div class="container">
   <div class="card-block mb30">
       <div class="row">
           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
               <!-- section-title -->
               <div class="section-title mb-0">
                   <h2>The Power of
                     High-End
                     Diagnostics
                     </h2>
                   <p>Diagnosis that alters treatment & outcome.</p>
               </div>
           </div>
       </div>
   </div>
   </div>
<div id="mj">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
 <ol class="carousel-indicators">
   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
   <li data-target="#myCarousel" data-slide-to="1"></li>
   <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>

 <div class="carousel-inner">
   <div class="item active" style="height: 500px">
     <img src="https://images.unsplash.com/photo-1544819616-8b86befe568c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="New York" style="height: 1000px">
     <div class="carousel-caption">
       <h3>WE ALWAYS CARE FOR YOUR HEALTH</h3>
       </div>
   </div>
   
   <div class="item" style="height: 500px;">
     <img src="https://images.unsplash.com/photo-1524222928538-afb4409a0d70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Chicago">
     <div class="carousel-caption">
       <h3>WELLNESS BUILD ON THE MEDICAL</h3>
       </div> 
   </div>

   <div class="item active" style="height: 500px">
       <img src="https://images.unsplash.com/photo-1529045478783-7fe77f40c031?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80" alt="New York" style="height: 1000px">
       <div class="carousel-caption">
         <h3>DEVELOPING INNOVATIVE NEW THARAPIES</h3>
       </div> 
     </div>
   </div>
   
   <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left" ></span>
 </a>
 <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
 </a>
</div>

<div class="middle">
<br><br><br>
    <h2><b> Who we are</b></h2> <hr>
       <h4>It is a complete medical center with<br> complete facility</h4>
    <br> <br><br>
</div>

<div class="wrapper">
     <div class="container">
       <div class="row">
         <div class="col-md-5 col-md-offset-1">
             <div class="content">
               <div class="pull-middle">
                 <h6 class="page-head">Cytogenetics</h6><hr>
                 <p>Study of the structure and function of the cell. Our Karyotyping & FISH platforms are fully automated with
                  improved levels of detection & almost negligible need for retesting.
                      We are able to provide images on all our reports to improve your diagnostic confidence.</p>
               <div>
                                <h6>Cytpathology</h6><hr>
                                <p> Diagnosis of diseases at the cellular level. Our Cytopathology section is entirely automated. 
                                 We use international reporting guidelines such as the BETHESDA system which makes our
                                  reports truly world class.                       
                             <p>
                               </div>
                     
               </div>              
             </div>
         </div>
         <div class="col-md-5 col-md-offset-1">
             <div class="content">
               <div class="pull-middle">
                 <h4 class="page-head">Molecular</h4><hr>
                <p>
                   Various techniques to analyse biological markers in the genome & proteome—by applying molecular biology to medical testing.
                    Our offerings include platforms like liquid biopsies (ddPCR), PCR, rtPCR, qPCR, NGS and Sanger Sequencing.</p>
               <div>
                 <h4>Immunohistochemistry</h4><hr>
                           <p> Process of detecting antigens in cells of a tissue by exploiting the principle of antibodies binding specifically to antigens in tissues. 
                                 Our IHC menu is the largest in the country. We get two pathologists to review our report before it is released to reduce chances of error.                     
                                </p>
                               </div>
                 </div>              
             </div>
         </div>
       </div>
     </div>
</div>
<div class="container-fluid bg-grey">
<div class="row">
 <div class="col-sm-4">
   <h2>WELCOME TO THE PAGE</h2>
   <h4>Lorem ipsum..</h4>      
   <p>Lorem ipsum..</p>
   </div>
   <div class="col-sm-4">
       <h2>WELCOME TO THE PAGE</h2>
       <h4>Lorem ipsum..</h4>      
       <p>Lorem ipsum..</p>
       </div>
       <div class="col-sm-4">
           <h2>WELCOME TO THE PAGE</h2>
           <h4>Lorem ipsum..</h4>      
           <p>Lorem ipsum..</p>
           </div>
   </div>
 </div>
   
